@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Roboto-Regular"), local("Roboto-Regular"),
    url("./fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Roboto-Bold"), local("Roboto-Bold"),
    url("./fonts/Roboto-Bold.woff2") format("woff2");
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  min-width: 320px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  color: #333333;
}

#root {
  display: contents;
}

main {
  flex: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
