html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  min-width: 320px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  color: #333333;
}

#root {
  display: contents;
}

main {
  flex: 1;
}
